.button {
  border-radius: 4px;
  border: none;

  cursor: pointer;
  font-family: inherit;
}

// footer-form
.footer-form__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 20px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px var(--primary-shadow);
  border: none;

  color: var(--background-color);

  @include font(16px, 700, 1.9, 0.06em);

  padding: 10px 28px 10px 29px;

  transition: background-color var(--time) var(--timing);

  &:hover,
  &:focus {
    background-color: var(--second-btn-color);
    color: var(--third-text-color);
    box-shadow: 0px 4px 4px var(--primary-shadow);
    border-radius: 4px;
  }
}

// hero
.hero__button {
  padding: 10px 32px;

  background-color: var(--accent-color);
  color: var(--third-text-color);
  box-shadow: 0px 4px 4px var(--primary-shadow);

  @include font(16px, 700, 1.9, 0.06em);

  transition: background-color var(--time) var(--timing);

  &:hover,
  &:focus {
    background-color: var(--second-btn-color);
    color: var(--third-text-color);
    box-shadow: 0px 4px 4px var(--primary-shadow);
    border-radius: 4px;
  }
}

// filter
.filter__button {
  padding: 6px 22px;

  @include font(16px, 500, 1.6, null);

  background-color: var(--btn-color);
  color: var(--primary-text-color);

  transition: background-color var(--time) var(--timing), color var(--time) var(--timing),
    box-shadow var(--time) var(--timing);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--third-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
