.contacts {
  display: flex;
  margin-left: auto;
  &__link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;

    color: var(--second-text-color);

    @include font(null, 500, 1.14, 0.02em);

    transition: color var(--time) var(--timing);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}
