.filter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;

  @include tablet {
    justify-content: center;
    margin-bottom: 30px;
  }
  @include desktop {
    margin-bottom: 50px;
  }
}
