.logo {
  font-family: var(--font-secondary);
  @include font(24px, 700, 1.16, null);

  @include desktop {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-accent {
  color: var(--accent-color);
}

.logo--dark {
  padding: 16px 0;

  color: var(--logo-color);
  &:focus {
    outline: 1px solid var(--logo-color);
  }
}
.logo--light {
  color: var(--third-text-color);
  &:focus {
    outline: 1px solid var(--background-color);
  }
}
