body {
  color: var(--primary-text-color);
  background-color: var(--background-color);

  font-family: var(--font-default);
  letter-spacing: 0.03em;
  font-size: 14px;
}

.link {
  text-decoration: none;
}
