:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --background-color: #ffffff;
  --background-hero: #c4c4c4;
  --second-backgraund-color: #2f303a;
  --btn-color: #f5f4fa;
  --second-btn-color: #188ce8;
  --address-color: rgba(255, 255, 255, 0.6);
  --footer-link: rgba(255, 255, 255, 0.1);
  --border: #ececec;
  --second-border: #eeeeee;
  --color-icons: #afb1b8;
  --bgc-backdrop: rgba(0, 0, 0, 0.2);
  --form-color: rgba(117, 117, 117, 0.5);
  --bgc-cards: rgba(33, 150, 243, 0.9);

  --time: 250ms;
  --timing: cubic-bezier(0.4, 0, 0.2, 1);

  --primary-shadow: rgba(0, 0, 0, 0.15);

  --font-default: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
}
